<div class="hello">
    <section class="wrapper wrapper--row wrapper--start-title">
        <h1 class="hello__title hello__title--start">
            Hello! We’re
        </h1>
        <p class="hello__title hello__title--merge">
            MERGE
        </p>
    </section>

    <h2 class="hello__subtitle hello__subtitle--start">
        COWORKING IN THE CENTRE OF KREMENCHUK
    </h2>
    <section class="wrapper wrapper--row wrapper--start-link">
        <a href="" class="link link--main">
            <svg class='link__img link__img--main'>
                <use xlink:href='#videocamera' />
            </svg>
            <p class="link__text link__text--main">
                how to get to the MERGE
            </p>
        </a>
        <a href="" class="link link--main">
            <svg class='link__img link__img--main'>
                <use xlink:href='#infoborder' />
            </svg>
            <p class="link__text link__text--main">
                PRICES AND WORKING HOURS
            </p>
        </a>
    </section>
    <p class="hello__description hello__description--start">
        We offer
        <a class='hello__description--link'>comfortable conditions</a>
        for remote work and we are dreaming to organize
        <a href='#' class='hello__description--link'>Merge Community</a>
        . Also, we have a
        <a href='#' class='hello__description--link'>meeting room</a>
        with a 50 inch TV. We regularly organize
        <a href='#' class='hello__description--link'>lectures and workshops</a>
        in various specialties.
    </p>
    <section class="wrapper wrapper--row">
        <app-button-membership style="margin-right: 32px;"></app-button-membership>
        <app-button-book-room></app-button-book-room>
    </section>
</div>