<div class="wrapper">
  <div class="container">
    <h2 class="title">Resident Card</h2>
    <p class="description">Access for the Month</p>

    <div class="inner-line">
      <div class="row row--notmarg">
        <svg class="image">
          <use xlink:href='#meeting-room'/>
        </svg>
        <p class="caption">1 hour two times per week of Meeting Room's using is free</p>
      </div>
      <div class="row row--notmarg">
        <svg class="image">
          <use xlink:href='#lecture'/>
        </svg>
        <p class="caption">Free accessment to paid events in Merge</p>
      </div>
    </div>
    <div class="grid">
      <div class="col">
        <div class="row">
          <svg class="image">
            <use xlink:href='#wifi'/>
          </svg>
          <p class="caption">Super-fast Internet</p>
        </div>
        <div class="row">
          <svg class="image">
            <use xlink:href='#printer'/>
          </svg>
          <p class="caption">Wireless Printer/ Scanner/ Copier</p>
        </div>
        <div class="row">
          <svg class="image">
            <use xlink:href='#microwave'/>
          </svg>
          <p class="caption">Kitchen with a microvawe and fridge</p>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <svg class="image">
            <use xlink:href='#cofee'/>
          </svg>
          <p class="caption">Unlimited coffee, tea, snacks</p>
        </div>
        <div class="row">
          <svg class="image">
            <use xlink:href='#shower'/>
          </svg>
          <p class="caption">Shower</p>
        </div>
        
      </div>
    </div>
    <div class="inner-col">
      <p class="price">
        Price:
        <span class="price__sum">1000</span>
      </p>
      <app-button-resident></app-button-resident>
    </div>
    <button class='close'>
        <svg class="close__img">
            <use xlink:href='#close-card'/>
          </svg>
    </button>
  </div>
</div>