// Для импорта в диспетчер подключений: @import "button";

.button {
    width: 187px;
    height: 40px;
    background-color: $BUTTON;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-family: $base-font;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: white;
    letter-spacing: 0.7px;
    border-radius: 4px;
    @extend %flex-row-c;
    &__img {
        height: 13px;
        width: 20px;
        fill: white;
    }
    &--main {
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
    }
    &:hover {
        background-color: $MERGE;
        color: $BLACK;
        transition: ease-in-out 0.3s;
    }
    &:not(:hover) {
        transition: ease-in-out 0.3s;
    }
    &:hover &__img {
        fill: $BLACK;
        transition: ease-in-out 0.3s;
    }
    &:not(:hover) &__img {
        transition: ease-in-out 0.3s;
    }
}
