@import '../scss/variables';
@import '../scss/mixines';

.page {
    @extend %flex-row-fs;
    width: 100%;
    min-height: 100vh;
    background-color: $BLACK;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

app-booking {
    width: 100%;
    @extend %flex-col-c;
    align-items: center;
    min-width: 660px;
}
