<div class="page page--start">
  <app-navigation></app-navigation>
  <main class="container container--start">
    <section class="wrapper wrapper--row wrapper--start-title">
      <h1 class="container__title container__title--start">Hello! We’re
      </h1>
      <p class="container__title container__title--merge">MERGE</p>
    </section>

    <h2 class="container__subtitle container__subtitle--start">COWORKING IN THE CENTRE OF KREMENCHUK</h2>
    <section class="wrapper wrapper--row wrapper--start-link">
      <a href="" class="link link--main">
        <svg class='link__img link__img--main'>
          <use xlink:href='#videocamera' />
        </svg>
        <p class="link__text link__text--main">how to get to the MERGE</p>
      </a>
      <a href="" class="link link--main">
        <svg class='link__img link__img--main'>
          <use xlink:href='#infoborder' />
        </svg>
        <p class="link__text link__text--main">PRICES AND WORKING HOURS</p>
      </a>
    </section>
    <p class="container__description container__description--start">
      We offer <a class='container__description--link'>comfortable conditions</a> for remote work and we are dreaming to
      organize
      <a href='#' class='container__description--link'>Merge Community</a>. Also, we have a <a href='#' class='container__description--link'>meeting
        room
      </a> with a 50 inch TV. We regularly organize <a href='#' class='container__description--link'>lectures and workshops</a>
      in various specialties.
    </p>
    <section class="wrapper wrapper--row">
      <button class="button button--main">
        BECOME A MEMBER
        <svg class='button__img button__img--arrow'>
          <use xlink:href='#arrow-right' />
        </svg>
      </button>
      <button class="button button--main">book a meeting room</button>
    </section>
  </main>
</div>