<nav class="navigation">
    <svg class="logo">
        <use xlink:href='#logo' />
    </svg>
    <section class="button-menu__wrapper">
        <div class="button-menu__cloud">MENU</div>
        <button class="button-menu" routerLink="menu">
            <div class="button-menu__item"></div>
        </button>
    </section>
    <section class="wrapper">
        <a href="#" class="social">
            <svg class="social__img">
                <use xlink:href='#telegram' />
            </svg>
        </a>
        <a href="#" class="social">
            <svg class="social__img">
                <use xlink:href='#facebook' />
            </svg>
        </a>
        <a href="#" class="social">
            <svg class="social__img">
                <use xlink:href='#instagram' />
            </svg>
        </a>
    </section>
</nav>