@import '../../scss/variables';
@import '../../scss/mixines';

.navigation {
  padding: 48px 0;
  width: 112px;
  height: 100vh;
  border-right: 1px solid $LINE;
  @extend %flex-col-sb;
}
.wrapper {
  &--row {
    @extend %flex-row;
  }

  &--col {
    @extend %flex-col;
  }
  &--start-title {
    margin-bottom: 15px;
  }
  &--start-link {
    height: 55px;
    width: 548px;
    border-bottom: 1px solid $LINE;
    margin-bottom: 19px;
  }
}
.logo {
  fill: $MERGE;
  width: 31px;
  height: 40px;
}
.button-menu {
  background-color: transparent;
  outline: none;
  border: none;
  &__img {
    fill: $MERGE;
    width: 24px;
    height: 24px;
  }
}
.link {
  text-decoration: none;

  &--social {
    width: 24px;
    height: 24px;
    @extend %flex-col-c;
    background-color: $BUTTON;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    &--main {
      width: 16px;
      height: 16px;
      fill: $MERGE;
      margin-right: 9px;
    }
    &--social {
      width: 16px;
      height: 16px;
    }
  }

  &--main {
    @extend %flex-row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__text {
    text-transform: uppercase;
    font-size: 10px;
    font-family: $base-font;
    color: $MERGE;
    font-weight: 700;
  }
}
