<nav class="navigation">
  <svg class="logo">
    <use xlink:href='#logo' />
  </svg>
  <button class="button-menu">
    <svg class='button-menu__img'>
      <use xlink:href='#menu' />
    </svg>
  </button>
  <section class="wrapper wrapper--col">
    <a href="#" class="link link--social"><img src="assets/image/telegram@3x.png" alt="telegram" class="link__img link__img--social"></a>
    <a href="#" class="link link--social"><img src="assets/image/facebook@3x.png" alt="facebook" class="link__img link__img--social"></a>
    <a href="#" class="link link--social"><img src="assets/image/instagram@3x.png" alt="instagram" class="link__img link__img--social"></a>
  </section>
</nav>